# KiCad backups and autosave
*-backups/
_autosave-*
\#*#
*.kicad_pcb-bak
*.kicad_sch-bak
*.000
*.bak

# Lock files
*.lck

# Plot/Gerber/export output (optional - remove if you want these tracked)
*.pdf
*.zip
gerbers/
plots/

# OS/editor junk
.DS_Store
Thumbs.db
*.tmp

# cache files 
fp-info-cache
*-cache.lib
*.cache
*.kicad_prl
2Layer_MCU_Datalogger_Gerbers/*
4Layer_MCU_Datalogger_Gerbers/*